/* Định dạng chung */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #f0f0f0;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

/* Hero section */
.background {
    background-image: url("img/image.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    color: white;
}

.background h1 {
    font-size: 3em;
    margin-bottom: 20px;
}


/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}